.navBar{
    position: absolute;;
    left:0;
    width : fit-content;
    height: 100%;
    background-color: #2E5F85;
    color: #FFFFFF;
    border-radius: 0px 20px 20px 0px;
    box-shadow: 4px 0px 15px rgba(172, 218, 255, 0.3);
border-radius: 0px 30px 30px 0px;
}

.navCell{
    padding-left: 15%;
    text-align: left;
    width: 300px;
    margin: 20px 0px 20px 0px;
    font-weight: 600;
}

.logo{
    margin-top: 20px;
    position: relative;
    left: -30%;
}